
    <h3>Select clasification parameters</h3>
    <br>
    <p3>Select the currency pair</p3>
    <br>
    <div class="group">
        <div class="btn-group" >
            <label ng-repeat="(index, currency) in $ctrl.currencyPairs1" class="btn btn-primary" ng-model="$parent.radioModel" uib-btn-radio="'{{index}}'">{{currency.name}}</label>
        </div>
    </div>
    <br>
    <form name="myForm" >
        <p>Select clasification method</p>
        <div>
            <ul>
                <ol ng-repeat="classifier in $ctrl.classifiers">
                    <label>{{classifier.name}} {{classifier.disabled}}
                        <input type="radio" ng-model="radioButton" name="name" ng-disabled='{{classifier.disabled}}' value="{{classifier.name}}" required  />
                    </label>

                </ol>
            </ul>

        </div>
    </form>

    <div class="col-md-6">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.analyse()">Analyse</button>
    </div>


