
    <h3>Select clasification parameters</h3>
    <br>
    <p3>Select the currency pair</p3>
    <br>
    <div class="container">

    <div class="group">
        <div class="btn-group" >
            <label ng-repeat="(index, currency) in $ctrl.currencyPairs1" class="btn btn-primary" ng-model="$parent.radioModel" uib-btn-radio="'{{index}}'">{{currency.name}}</label>
        </div>
    </div>
    <br>
        <form name="myForm" >
        <p>Select clasification method</p>
        <div>
            <ul>
                <ol ng-repeat="classifier in $ctrl.classifiers">
                    <label>{{classifier.name}} {{classifier.disabled}}
                        <input type="radio" ng-model="radioButton" name="name" ng-disabled='{{classifier.disabled}}' value="{{classifier.name}}" required  />
                    </label>

                </ol>
            </ul>

        </div>
    </form>

    <div >
        <button type="button" class="btn btn-primary" ng-click="$ctrl.analyse()">Analyse</button>
    </div>


    </div>
    <br>
    <br>
    <br>
    <table table class="table table-bordered ">
        <thead>
        <tr>
            <td>Symbol</td>
            <td>Forecast bar</td>

        </tr>
        </thead>
        <tbody ng-if="$ctrl.analysisResults != null">
        <tr  >
            <td>{{$ctrl.analysisResults.symbol}}</td>
            <td>{{$ctrl.analysisResults.forecastedBar}}</td>
        </tr>
        </tbody>
    </table>


