.spa-signin {
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;

  .btn-primary{
      background-color: #1E88E5 !important;
  }

.form-control {
position: relative;
height: auto;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
padding: 10px;
font-size: 16px;
}

.form { margin: 0px 10px; }
}

.login-panel {
 max-width: 390px;
 margin-top: 10px;
 margin: auto;
}


