.form {
  max-width: 360px;
  margin: 0 auto;

  .form-group{
    margin: 0 0 0 0;
    .input-group{
      margin: 0 0 0 0;
    }

  }

  .submit-button{
    padding-left: 25%;
  }
  .panel panel-info{
    max-width: 360px;
  }

}